#mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
  font-family: sans-serif, ;
}

#navbar-brand {
  font-weight: 800;
}

#navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 12px;
  text-transform: uppercase;
}

.navbar-nav,
li.nav-item,
a.nav-link {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-brand {
    color: #fff;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    color: #fff;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    position: fixed;
    top: -83px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
  #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
    color: #0085A1;
  }

  #mainNav.is-visible {
    transform: translate3d(0, 100%, 0);
  }
}

footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

#firsthead {
  position: relative;
  margin-bottom: 48px;
  padding-top: 185px;
  padding-bottom: 225px;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}

#firsthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}

.site-heading {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  line-height: 1.2;
}

.tittle {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  line-height: 1.2;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 992px) {
  #firsthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }

  #firsthead .page-heading h1,
  #firsthead .page-heading .h1,
  #firsthead .site-heading h1,
  #firsthead .site-heading .h1 {
    font-size: 5rem;
  }
}

.post-preview>a {
  color: #212529;
  text-decoration: none;

}

.post-preview>a:focus,
.post-preview>a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview>a>.post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  font-size: 1.875rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  line-height: 1.2;
}

.post-preview>a>.post-subtitle {
  font-weight: 300;
  margin-bottom: 0.625rem;
}


.post-meta>a {
  color: #212529;
  text-decoration: none;

}

.post-preview>.post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}

.post-preview>.post-meta>a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .post-preview>a>.post-title {
    font-size: 2.25rem;
  }
}

